# Banco de Dados
DB_PASSWORD=root

# E-mail (Mailtrap - ambiente de desenvolvimento)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=86400000

# Frontend
FRONTEND_URL=http://localhost:8080

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=